{% extends "base.html" %} {% block main %}
<section class="content-section">
  <h2 class="section-header">Blog Posts</h2>
  <ul class="plain-list">
    {% for blog in blogs %}
    <li class="blog-item">
      <div class="blog-item-header">
        <a href="{{ baseurl }}{{ blog.path }}.html" class="item-title"
          >{{ blog.title }}</a
        >
        {% if blog.date %}
        <span class="blog-date formatted-date">{{ blog.date }}</span>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock main %}
